---
import React from "react";
import styles from "@patternfly/react-styles/css/components/Page/page";
import { Content, PageSection } from "@patternfly/react-core";
---

<div className={styles.page}>
  <slot name="skipToContent" />
  <slot name="masthead" />
  <slot name="sidebar" />
  <div className={styles.pageMainContainer}>
    <main className={styles.pageMain}>
      <PageSection>
        <Content>
          <slot />
        </Content>
      </PageSection>
    </main>
  </div>
</div>
