---
import styles from "@patternfly/react-styles/css/components/Page/page";
import { Content, PageSection } from "@patternfly/react-core";
---

<div class={styles.page}>
  <slot name="skipToContent" />
  <slot name="masthead" />
  <slot name="sidebar" />
  <div class={styles.pageMainContainer}>
    <main class={styles.pageMain}>
      <PageSection>
        <Content>
          <slot />
        </Content>
      </PageSection>
    </main>
  </div>
</div>
