---
import '@patternfly/patternfly/patternfly.css'
import '../styles/global.scss'
import { ClientRouter } from 'astro:transitions'

import Page from '../components/Page.astro'
import Masthead from '../components/Masthead.astro'
import Navigation from '../components/Navigation.astro'
---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <ClientRouter />
  </head>
  <body>
    <Page>
      <Masthead slot="masthead" />
      <Navigation slot="sidebar" />
      <slot />
    </Page>
  </body>
</html>

<script>
  const themePreference = window.localStorage.getItem('theme-preference')
  document
    ?.querySelector('html')
    ?.classList.toggle('pf-v6-theme-dark', themePreference === 'dark')

  document.addEventListener('astro:after-swap', () => {
    const themePreference = window.localStorage.getItem('theme-preference')
    document
      ?.querySelector('html')
      ?.classList.toggle('pf-v6-theme-dark', themePreference === 'dark')
  })

  const scrollToHash = (hash: string) => {
    const targetElement = document.querySelector(hash)
    if (targetElement) {
      targetElement.scrollIntoView({ behavior: 'smooth' })
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    if (window.location.hash) {
      const hash = window.location.hash

      // Without this, page would focus on anchor link without scrolling to it
      history.replaceState(null, '', ' ')

      setTimeout(() => {
        scrollToHash(hash)
        history.replaceState(null, '', hash)
      }, 500)
    }
  })

  // Handle changes that happen after the initial page load
  window.addEventListener('hashchange', () => {
    if (window.location.hash) {
      scrollToHash(window.location.hash)
    }
  })
</script>
